<app-menu></app-menu>

<div class="container-fluid">
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Codice Ritiro</th>
        <th scope="col">Descrizione</th>
        <th scope="col">Data Creazione</th>
        <th scope="col">data Ritiro</th>
        <th scope="col">Data Consegna Prevista</th>
        <th scope="col">Stato</th>
       


      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ordine of ordini">
        <th scope="row">{{ordine.id}}</th>
        <td>{{ordine.codiceRitiro}}</td>
        <td>{{ordine.descrizione}}</td>
        <td>{{ordine.dataCreazione}}</td>
        <td>{{ordine.dataRitiro}}</td>
        <td>{{ordine.dataConsegnaPrevista}}</td>
        <td>{{ordine.stato}}</td>
       
        <td>
          <ul>
            <li class="mb-1 mt-1"><button class="btn btn-outline-info"
                routerLink="/dettaglioClienteOrdine/{{ordine.idCliente}}"><i class="fas fa-eye"></i> VEDI
                CLIENTE</button></li>
            <li class="mb-1 mt-1" *ngIf="ordine.idCorriere!=null">
              <button class="btn btn-outline-info"   routerLink="/dettaglioCorriere/{{ordine.idCorriere}}"><i class="fas fa-eye"></i> VEDI CORRIERE</button>
            </li>
            <li class="mb-1 mt-1" *ngIf="ordine.idPuntoDiRitiro!=null"><button class="btn btn-outline-info"
                routerLink="/dettaglioPuntoDiRitiroOrdine/{{ordine.idPuntoDiRitiro}}"><i class="fas fa-eye"></i> VEDI
                PUNTO
                DI RITIRO</button></li>

          </ul>
        </td>
      </tr>
     
    </tbody>
  </table>
  <div class ="mt-3" >
    <button  class="btn btn-outline-success btn-lg" routerLink="/nuovoOrdine"> Nuovo Ordine</button>
    
  </div>
</div>

