
<nav class="navbar navbar-expand-lg  navbar-dark bg-dark mb-5">
  <div class="container-fluid">
    <a class="navbar-brand text-light">Barra di navigazione</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">



        <!-- amministratore -->

        <li class="nav-item " *ngIf="isAmministratore">
          <a class="nav-link" routerLink="/listaCorrieriDaAccettare"><i class="fas fa-list-alt"></i> Lista Corrieri Da
            Accettare</a>
        </li>

        <li class="nav-item" *ngIf="isAmministratore">
          <a class="nav-link" routerLink="/listaCommerciantiDaAccettare"><i class="fas fa-list-alt"></i> Lista
            Commercianti Da Accettare</a>
        </li>
        <li class="nav-item" *ngIf="isAmministratore">
          <a class="nav-link" routerLink="/listaPuntiDiRitiro"><i class="fas fa-list-alt"></i> Lista Punti Di Ritiro</a>
        </li>

        <!-- amministratore -->


        <!-- commerciante -->
        <li class="nav-item" *ngIf="isCommerciante">
          <a class="nav-link" routerLink="/listaOrdiniCommerciante"><i class="fas fa-list-alt"></i> Lista Ordini</a>
        </li>
        <li class="nav-item" *ngIf="isCommerciante">
          <a class="nav-link" routerLink="/listaPromozioniCommerciante"><i class="fas fa-list-alt"></i> Lista Promozioni</a>
        </li>


        <!-- comerciante -->



  <!-- cliente -->

  <li class="nav-item" *ngIf="isCliente">
    <a class="nav-link" routerLink="/listaOrdiniCliente"><i class="fas fa-list-alt"></i> Lista Ordini</a>
  </li>

  
  <li class="nav-item" *ngIf="isCliente">
    <a class="nav-link" routerLink="/listaPromozioniCliente"><i class="fas fa-list-alt"></i> Lista Promozioni</a>
  </li>


  <li class="nav-item" *ngIf="isCliente">
    <a class="nav-link" routerLink="/listaCommercianti"><i class="fas fa-list-alt"></i> Lista Commercianti</a>
  </li>
  
    <!-- cliente -->


  <!-- corriere -->


    <li class="nav-item" *ngIf="isCorriere">
      <a class="nav-link" routerLink="/listaOrdiniLiberi"><i class="fas fa-list-alt"></i> Lista Ordini Liberi</a>
    </li>
    
    <li class="nav-item" *ngIf="isCorriere">
      <a class="nav-link" routerLink="/listaOrdiniDaRitiriare"><i class="fas fa-list-alt"></i> Lista Ordini Da Ritiriare</a>
    </li>

    <li class="nav-item" *ngIf="isCorriere">
      <a class="nav-link" routerLink="/listaOrdiniDaDepositare"><i class="fas fa-list-alt"></i> Lista Ordini In Transito</a>
    </li>
    
    <li class="nav-item" *ngIf="isCorriere">
      <a class="nav-link" routerLink="/listaOrdiniDepositati"><i class="fas fa-list-alt"></i> Lista Ordini Depositati</a>
    </li>

    <li class="nav-item" *ngIf="isCorriere">
      <a class="nav-link" routerLink="/listaOrdiniConsegnati"><i class="fas fa-list-alt"></i> Lista Ordini Consegnati</a>
    </li>
  <!-- corriere -->




        <li class="d-flex">
          <a class="nav-link" routerLink="/"><i class="fas fa-home"></i> Home</a>
        </li>
        <li class="d-flex " *ngIf="!isLogged">
          <a class="nav-link" routerLink="/login"><i class="fas fa-sign-in-alt"></i> Accedi</a>
        </li>
        <li class="d-flex" *ngIf="isLogged" (click)="onLogOut()">
          <a class="nav-link" style="cursor: pointer;"><i class="fas fa-door-open"></i> Logout</a>
        </li>


      </ul>
    </div>
  </div>
</nav>