<app-menu></app-menu>

<div class="container-fluid">
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Codice Ritiro</th>
        <th scope="col">Descrizione</th>
        <th scope="col">dataCreazione</th>
        <th scope="col">dataRitiro</th>
        <th scope="col">dataConsegnaPrevista</th>
        <th scope="col">Stato</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ordine of ordini">
        <th scope="row">{{ordine.id}}</th>
        <td>{{ordine.codiceRitiro}}</td>
        <td>{{ordine.descrizione}}</td>
        <td>{{ordine.dataCreazione}}</td>
        <td>{{ordine.dataRitiro}}</td>
        <td>{{ordine.dataConsegnaPrevista}}</td>
        <td>{{ordine.stato}}</td>
        <td ><button class="btn btn-outline-info"   routerLink="/dettaglioClienteOrdine/{{ordine.idCliente}}"><i class="fas fa-eye"></i> VEDI CLIENTE</button></td>
        <td ><button class="btn btn-outline-info"   routerLink="/dettaglioCommerciante/{{ordine.idCommerciante}}"><i class="fas fa-eye"></i> VEDI COMMERCIANTE</button></td>
        <td *ngIf="ordine.idPuntoDiRitiro!=null"><button class="btn btn-outline-info"   routerLink="/dettaglioPuntoDiRitiroOrdine/{{ordine.idPuntoDiRitiro}}"><i class="fas fa-eye"></i> VEDI PUNTO DI RITIRO</button></td>
        <td *ngIf="ordine.idPuntoDiRitiro!=null"><button class="btn btn-outline-warning"   (click)="deposita(ordine.id)"><i class="fas fa-people-carry"></i>DEPOSITA</button></td>
        <td *ngIf="ordine.idPuntoDiRitiro==null"><button class="btn btn-outline-warning"   (click)="consegna(ordine.id)"><i class="fas fa-people-carry"></i>CONSEGNA</button></td>
    </tr>
     
    </tbody>
  </table>

</div>
